.showcontent img{
width:500px;
border-radius: 10px;
}
.showcontent{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 60px;
  background-color: white;
  border: 3px solid #285374;
  border-radius: 13px;
}
.showinfo{
  //border: 3px solid #285374;
  border-radius: 13px;
  padding: 32px;

}
.d-flex{
margin-top: 150px;
}
