<div>
  <background-img src="https://myneon.fr/wp-content/uploads/2020/06/img-myneon-client-hotel-amour-1.jpg" alt="photo d'un hotel">
  <%= link_to "Aller à la page index", rooms_path, class: "secondary-button" %>
</div>
