<link rel="stylesheet" href="https://wallpaperaccess.com/full/123346.jpg">

<div class="hometext">
<h1>Not all rooms are five stars !</h1>
<p>Visit the world in a budget</p>
</div>

  <%= link_to "click here to see our cheap rooms!", rooms_path, class: "btn-yours" %>
