<div class="cardscontainer">
  <% @rooms.each do |room| %>
    <%= link_to room_path(room) do %>
        <div class="card-product">
          <img src="https://www.nycinsiderguide.com/wp-content/uploads/2018/05/pod-39-hotel-nyc-bunk-beds.jpg" />
          <div class="card-product-infos">
            <h2><%=room.hotel.name%></h2>
            <p>
              <%= room.hotel.address%>
            </p>
              <%= room.price_per_night %> $/night.
          </div>
        </div>
    <% end %>
  <% end %>
</div>
